@page "/interview"

<h1>Опрос</h1>

Пройдите, пожалуйста, опрос

<h2>Выберите один вариант из каждой группы</h2>

<body>
<div class="category-wrap">
  <h3>Варианты неисправностей</h3>
  <ul>
    <li><a href="">Неисправность 1</a></li>
    <li><a href="">Неисправность 2</a></li>
    <li><a href="">Неисправность 3</a></li>
    <li><a href="">Неисправность 4</a></li>
    <li><a href="">Неисправность 5</a></li>
  </ul>
</div></body>
